.fundo {
    background-color: aquamarine;
}

.cor-texto {
    color: white;
}

.saldo {
    display: flex;
    justify-content: center;
}

.lancamento {
    display: flex;
    justify-content: center;
    padding: 17px;
}

.texto-centralizado {
    text-align: center
}

.imagem-astronauta {
    height: 250px;
}

.btn-main {
    margin-top: 8em;
    display: flex;
    justify-content: center;
    padding: 17px;
}

.btn-main .btn {
    padding-left: 119px;
    padding-right: 119px;
    font-size: 30px;
    border-radius: 50px;
}
