div.input {
    margin-bottom: 24px;
    position: relative;
    border: none;
}

#valor,
#data {
    border: none;
    height: 80px;
    width: 220px;
    margin: 0 30px;
    border-radius: 5px;
    padding: 5px;
}



#desc {
    border: none;
    height: 80px;
    /* margin-top: 10px; */
    width: 500px;
    border-radius: 5px;
    padding: 5px;
}

input {
    background: rgba(245, 245, 245, 0.9);
}

.valor,
.data { 
    position: absolute;
    top: 0px;
    left: 35px;
    color: black;
    transition: .4s;
}

.descricao {
    position: absolute;
    top: 0px;
    left: 5px;
    color: black;
    transition: .4s;
}

input:focus~label,
input:valid~label {
    transform: translateY(-24px);
    font-size: 0.8em;
    letter-spacing: 0.1em;
}

.input span.error {
    display: flex;
    padding: 0;
    background-color: rgba(255, 0, 0, 0.2);
    font-size: 0.8em;
}

.input span.error.active {
    border: 1px solid red;
    padding: 0.4em;
}

.entrada {
    margin: 0 20px;
}

.saida {
    margin: 0 20px;
}

input::placeholder {
    padding-left: 5px;
}

@media screen and (max-width: 990px) {
    .responsividade {
        flex-direction: column;
        align-items: center;
    }
    #valor,
    #data {
        width: 500px;
    }
}