:root {
    --primary-color: #fd951f;
    --bg-color: rgb(204, 204, 204);
    --text-color: white;
    --nav-color: rgb(12, 165, 165);
}

html {
    font-family: 'Inter', sans-serif !important;
    height: 100%;
}

header {
    padding: 25px;
    background-color: rgb(12, 165, 165)
}

.login {
    align-self: flex-end;
}

.icone-login {
    height: 80px;
}

body {
    background-color: var(--bg-color) !important;
}

.cor-texto {
    color: white;
}

.texto-centralizado {
    text-align: center
}

.container-saldo {
    background: rgba(245, 245, 245, 0.9);
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    margin: 50px auto;
    padding: 32px 64px;
}

p,
#dinheiro {
  margin-bottom: 0;
  font-size: 150%;
}

button {
    margin-top: 30px !important;
    padding: 20px;
    border: 2px solid rgb(255, 200, 0);
    border-radius: 15px !important;
    background-color: rgb(255, 200, 0);
    font-weight: bold;
    font-family: 'Inter', sans-serif !important;
}

button:hover {
    background-color: #e6b400!important;
    font-size: 103%;
}

button:active {
    color: rgb(12,165,165);
    border-color: rgb(12,165,165);
}

button a {
    text-decoration: none;
    color: inherit;
}

footer {
    margin-top: 40px;
    height: 200px;
    background-color: rgb(12, 136, 136);
    padding: 10px 0;
}

.copyright {
    font-size: 18px;
}

.treno {
    align-self: center;
    overflow: hidden;
}