.lancamentos {
    margin-bottom: 30px;
    font-size: 2rem;
}

.imagem-astronauta {
    height: 15.0rem;
    margin-bottom: 5rem;
}

.sem-lancamentos {
    display: none;
}

.com-lancamentos {
    display: none;
}

.quadro-astronauta {
    margin-top: 50px;
    margin-right: 50px;
}