form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 2rem auto;
}

div.input {
  padding: 5px;
  margin-top: 1.5rem;
  position: relative;
  height: 80px;
}

#senha,
#email {
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem !important;
  height: 80px;
  width: 80%;
}

.usuario-login,
.senha-login {
  position: absolute;
  top: 35px;
  left: 3.2rem;
  color: black;
  transition: 0.4s;
}

input:focus ~ label,
input:valid ~ label {
  transform: translateY(-30px);
  font-size: 1rem;
  font-weight: bold;
  letter-spacing: 0.1em;
}

#botao {
  margin-top: 70px !important;
}
