table { 
  border-collapse: collapse;
  max-width: 700px;
  margin: 30px auto;
  font-size: 15px;
  table-layout: fixed;

  overflow:hidden;
  border: solid #ccc 1px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
}

tbody a{
  text-decoration: none;
}

tr{
  text-align: center;
}

th {
  padding: 10px 10px;
  margin: 7 auto;
  text-align: justify;
  font-weight: bold;
}

td {
  word-break: break-word;
  font-size: 1.0rem;
  background-color: rgba(245, 245, 245, 0.9);
  border: 1px solid #ccc;
  line-height: 25px;
  word-break: keep-all;
  padding: 0.6rem 0.6rem;
}

tr {
  /* background: rgba(230, 226, 226, 0.9); */
  background: rgba(173, 172, 172, 0.6);
}

tr.itens td {
  border-bottom: 2px solid #ccc;
}

.entrada{
 border-left: 3px solid rgb(2, 221, 2);
 color:  rgb(2, 177, 2);
}

.green{
  color:  rgb(2, 177, 2);
 font-weight: bold;
}

.red{
  color:  rgb(255, 56, 56);
  font-weight: bold;
}

.saida{
  color:  rgb(255, 56, 56);
  font-weight: bold;
  border-left: 3px solid rgb(255, 56, 56);
}

#lapis,
#lixeira {
  width: 18px;
  margin: 0 5px;
}

td:first-child { 
  width: 230px;
}
td:first-child + td {  
  width: 100px 
}
td:first-child + td + td {
    width: 120px 
}
td:first-child + td + td +td {
  width: 100px 
}

@media  (max-width: 1280px) and (min-width:1024px){
  .saldo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container-saldo{
    width: 80%;
  }
  .balance {
    width: 80%;
  }

  table {
    width: 50%;
    margin-bottom: 5rem;
  }
  td {
    font-size: 14px;
  }

  footer{
        width: 100%;
        display: block;
  }
  .treno{
        width: 40%;
    }
  .footer-natal{
        width: 100%;
    }
  .cor-footer{
        display: flex;
        align-items: center;
        justify-content: center;
  }
}

@media (max-width: 768px) and (min-width:400px) {
  .saldo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container-saldo{
    width: 80%;
  }
  .balance {
    width: 80%;
  }

  table {
    width: 65%;
    margin-bottom: 8.9rem;
  }
  td {
    font-size: 16px;
  }
   footer{
        width: 100%;
        display: block;
  }
  .treno{
        width: 60%;
  }
    .footer-natal{
        width: 100%;
  }
  .cor-footer{
        display: flex;
        align-items: center;
        justify-content: center;
   }
}

@media screen and (max-width: 480px) and (min-width: 320px ) {
  .saldo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .container-saldo{
    width: 80%;
  }
  .balance {
    width: 80%;
  }

  table {
    margin-top: 0.5rem;
    font-size: 13px;
    width: 85%;
  }
  td {
    font-weight: bold;
    font-size: 0.6rem;
    padding: 0.2rem;
  }
  td.info-data{
    font-size: 0.6rem;
    padding: 1rem;
    word-break:break-all;
  }
  footer{
    width: 100%;
    display: block;
  }
  .treno{
    width: 80%;
  }
  .footer-natal{
    width: 100%;
  }
  .cor-footer{
    display: flex;
    align-items: center;
    justify-content: center;
  }
}